body {
    background: url("image.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#FFF;
    padding-top: 8%;
    padding-left: 20%;
    padding-right: 20%;
    font-family:Roboto, "Helvetica Neue";
   }

#main {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;

}

#main p {
    padding: 10px 10px 1px 10px;
    word-spacing: 9999px;
}

#text {
    text-align: center;
    padding: 10px 10px 20px 10px;    
    font-size: 50px;

}

#container {
    background-color: #6EBFED;
    ;
    border-radius: 25px;
    padding-top: 50;
}
